---
import { Table } from "../components/react/table.component.tsx";
import MainLayout from "../layouts/main.layout.astro";
---

<MainLayout title="Establishments" currentPage="/establishments">
  <div>
    <Table client:load />
  </div>
</MainLayout>
