---
import type { Link } from "../interfaces/link.interface";
import { cn } from "../utils/cn.util";

interface Props extends Link {
  isActive: boolean;
}

const { label, href, isActive } = Astro.props;
---

<li>
  <a
    class={cn(
      "text-white inline-block p-2 capitalize rounded-b-lg hover:bg-green",
      { "bg-green": isActive }
    )}
    href={href}
  >
    {label}
  </a>
</li>
